body {
    background: #eeeeff;
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: darkgray;
    font-size: 0.7em;
    display: block;
}

.Title {
    font-size: 1em;
    color: blueviolet;
}